body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(251, 212, 225);
    text-align: center;
}
h1 {
    font-size: 50px;
    margin-top: 50px;
    color:white;
}
#info {
    margin: 10px auto;
    font-size: 20px;
}
.game-board {
    width: 300px;
    height: 100px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 7px;
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
    margin: 20px auto;

}



